{% extends 'base.html.twig' %}

{% block body %}
    <div class="imageFond">
        <div class="container">
        <h2>La communauté Cookin'Trip</h2>

        <p>Composée que de gens passionnés, cette communauté a pour but de partager des recettes de tous les continents, recettes qui ont marqué leurs esprits et leurs papilles gustatives !<br><br>

        <strong>Tes missions en tant que membre :</strong><br><br>

        Une fois ton inscription validée, tu auras la possibilité de :<br><br>
        
        - Ajouter tes propres recettes qui seront par la suite validées par l'administrateur<br><br>
        - Commenter les recettes publiées afin de partager ton expérience et tes petites astuces<br><br>
        - Contacter directement l'administrateur afin de participer à l'amélioration du site<br><br>

        Alors, rejoins nous en cliquant <button type="button" class="btn btn-secondary"><a href="{{ path('app_register') }}">ICI</a></button></p>
        </div>
    </div>
{% endblock %}