{% extends 'base.html.twig' %}

{% block body %}

<div class="wrap">
    {% for continent in continents %}
        <div class="card amerique">
            <div class="front">
                <img src="{{continent.photo}}" alt="statue">
            </div>

            <div class="back">
                <div class="back-content middle">
                    <h2>{{continent.nom}}</h2>
                    <a href="{{ path("affichage_continent", {id: continent.id}) }}">More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
