{% extends "base.html.twig" %}

{% block body %}

    <h2 class="h2 text-center mt-3 mb-5">Supprimer un Utilisateur</h2>

    <div class="d-flex justify-content-center">
        <form class="col-md-6 text-center" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" value="{{ user is defined ? user.username : "" }}">
            </div>
            <button type="submit" name="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </form>
    </div>


{% endblock %}